<html lang="fr">

<head>
  <%- include('../templates/headerGlobal'); %>
    <link rel="stylesheet" href="/css/events.css" />
    <title>Evenements - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="">
  <%- include('../templates/svgIcons'); %>
    <%- include('../templates/navbar'); %>

      <div id="holder" class="mx-auto container my-5" style="text-align: center">

      </div>

      <%- include('../templates/footer'); %>
        <script>
          var events = JSON.parse(
            `<%- JSON.stringify(events)%>`
          );
        </script>

        <script src="/js/loadEvents.js"></script>

</body>


</html>