<html lang="fr">
  <head>
    <%- include('../templates/headerGlobal'); %>
    <title>Evenements - Laexo.tv</title>
  </head>

  <body class="bg-dark-laexo" onload="">
    <%- include('../templates/svgIcons'); %> <%-
    include('../templates/navbar');%>

    <div class="mx-auto container my-5 mt-1" id="holder"></div>

    <%- include('../templates/footer'); %>
    <script>
      var { title, subtitle, img, date } = JSON.parse(
        `<%- JSON.stringify(event)%>`
      );
    </script>

    <script src="/js/pageEvent.js"></script>
  </body>
</html>
